body{
    background-image: url("./job2.jpg");
    height: 100%;
    width: 100%;
    margin: 0px;
    color: azure;
    
    
}

.container{
    position:absolute;
    background-color:black;
    height: 180%;
    width: 100%;
    opacity: 75%;
}
.job_form{
    font-family: 'Merriweather', serif;
    font-size: 0.7em;
}

h1{
    text-align: center;
    margin-top: 70px;
    font-family: 'Merriweather', serif;
    font-size: 5em;
} 


.job_table{
    background-color:rgb(32, 31, 31) ;
    width: 860px;
    height: 900px;
    margin-top:30px;
    margin-left: 200px;
    margin-right: 100px;
    margin-bottom:50px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 0px;
    opacity: 70%;
    
}


.btn_pos{
    padding-left: 325px;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;


}
  
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}